:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Bree Serif', serif;
  text-transform: lowercase;
  font-size: 24px;
  height: calc(100vh - 155px);
  overflow: auto;

  width: 100%;
  max-width: 1400px;
  gap: 50px;

  .word-container {
    padding: 20px 50px;
    font-size: 45px;
    font-family: 'Bree Serif', serif;
    background: #FFFFFF;
    border-radius: 20px;
  }


  .button-container {
    //max-width: 70vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    app-button {
      width: 13vw;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .complete-overlay {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .6);
    transition: opacity .2s ease-in-out;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    img {
      width: 70vh;
      height: auto;
    }
  }
}

@media (orientation: portrait) {
  .container {
    flex-direction: column;

    .button-container {
      width: fit-content;
      max-width: calc(100vw - 40px);

      app-button {
        width: 22vw;
      }
    }
  }

}
