<app-level-header (quitLevel)="quitLevel.emit(true)" heading="Wat zie je op het plaatje?"></app-level-header>
<div class="container">
  <div class="image-container">
    <img src="assets/{{category}}/{{image}}">
  </div>
  <div class="button-container">
    <app-button *ngFor="let option of wordOptions"
                [success]="complete && option == this.word"
                [alert]="option == this.wrongWord"
                (click)="checkWord(option)">{{option}}</app-button>
  </div>
  <div class="complete-overlay" [class.hidden]="!complete">
    <img src="assets/complete%20-%20banner.png">
  </div>
</div>
