:host {

  @keyframes grow-button {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }


  background: #fdfdfd;
  border-width: 5px 5px 8px 5px;
  border-style: solid;
  border-color: #353535;
  border-radius: 20px;  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 16px;
  transition: all .2s ease-in-out;
  position: relative;
  cursor: pointer;
  font-size: 30px;
  &:hover {
    background-color: #c7f3fc;
  }

  color: #0e0e0e;

  &.alert {
    background: #EF3349;
    background: linear-gradient(to right, rgb(224, 58, 77) 0%, #EF3349 50%, rgb(215, 4, 43) 100%);
    border-color: #a31527;
    color: #ffffff;
    animation: grow-button 1s ease-in-out;
  }

  &.success {
    background: #4AA378;
    background: linear-gradient(to right, rgb(46, 133, 22) 0%, #2C6B4D 50%, rgb(16, 107, 9) 100%);

    border-color: #2C6B4D;
    color: #ffffff;
    animation: grow-button 1s ease-in-out;
  }
}
