:host {
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: center;
  padding: 10px 30px;

  h2 {
    font-size: 28px;
    font-family: 'Bree Serif', serif;
    width: 100%;
    text-align: center;
  }

  app-button {
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    svg {
      transform: scale(.8);
    }
  }
}
